doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.settings
      li
        a(href='#' class='js-toggle-scroll') Toggle Scroll to Zoom: <span class="zoom">Off</span>
          
    block mainTitle

    block header
      h2 Navigation
      ul.nav
        li
          a(href='/maps?page=1&limit=30') Maps w/ different limits
        li
          a(href='/stream') Stream results
        li
          a(href='/user-interaction') Infinite scroll
        li
          a(href='/draw-shape') Draw a shape on the map
        li
          a(href='/zoom-pan') Zoom / Pan

      
    block content
    block scripts_body
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZzcMMn3C4OjVWp2SGT1cLZ9GkRKa--Y&libraries=drawing' async defer)
      script.
        let limit = "#{limit}"
        let currentPage = "#{page}"
        let zoom = "#{zoom}"
        let map;
        let count = 1;
        let scrollwheel = true;

        let firstLoad = true;

      script(src='/javascripts/global.js')
      script.
        window.addEventListener('load', function() {
          initMap( { limit: limit, page: currentPage, zoom: zoom }, !window.location.pathname.match('draw-shape'));
        });
      

